/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
  @media only screen and (min-width : 991px) {

 /* Full Width
*********************************/


.flexslider .slides,
.flexslider .slides li{
width: 100%!important;
height: 100%!important;
}

.flexslider .slides img{
min-height: 100%;
min-width: 100%;
max-width: 100%!important;
margin: 0 auto!important;
}

}

  @media only screen and (max-width : 991px) {

	  #Services{
	  margin-top: 100px !important;
	  }


	.home-slider{
		display:none !important;
	}


  }



/* Browser Resets
*********************************/
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
	outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('fonts/flexslider-icon.eot');
	src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),  url('fonts/flexslider-icon.woff') format('woff'),  url('fonts/flexslider-icon.ttf') format('truetype'),  url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
	margin: 0;
	padding: 0;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	width: 100%;
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
	content: "\0020";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}
/* FlexSlider Default Theme
*********************************/
.flexslider {
	margin: 0 ;

	zoom: 1;
}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 300px;
}
.flexslider .slides {
	zoom: 1;
}
.carousel li {
	margin-right: 5px;
}
/* Direction Nav */

flex-control-nav {
	display:none !important;
}

.flex-direction-nav {
*height: 0;
}
.flex-direction-nav a {
   border: 2px solid #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: block;
    height: 40px;
    margin: -20px 0 0;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    top: 80%;
    transition: all 0.3s ease 0s;
    width: 40px;
    z-index: 10;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.flex-direction-nav a:hover{
	opacity:0.7 !important;
}


.flex-prev{
	right:65px;
}

.flex-next{
	right:120px;
}


.flex-next:before {
	content: "\e006";
		font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	 margin: 8px !important;
	  color: #FFFFFF !important;
    display: block !important;
	font-size:20px !important;
}
.flex-prev:before {
	content: "\e01d";
		font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	 margin: 8px !important;
	  color: #FFFFFF !important;
    display: block !important;
	font-size:20px !important;
}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
	opacity: 1;
}
.flex-direction-nav .flex-disabled {
	opacity: 0!important;
	filter:alpha(opacity=0);
	cursor: default;
}
/* Pause/Play */
.flex-pauseplay a {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 5px;
	left: 10px;
	opacity: 0.8;
	z-index: 10;
	overflow: hidden;
	cursor: pointer;
	color: #000;
}
.flex-pauseplay a:hover {
	opacity: 1;
}
/* Control Nav */
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: -40px;
	text-align: center;
}
.flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
*display: inline;
}
.flex-control-paging li a {
	width: 11px;
	height: 11px;
	display: block;
	background: #666;
	background: rgba(0,0,0,0.5);
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
.flex-control-paging li a:hover {
	background: #333;
	background: rgba(0,0,0,0.7);
}
.flex-control-paging li a.flex-active {
	background: #000;
	background: rgba(0,0,0,0.9);
	cursor: default;
}
.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}
.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}
.flex-control-thumbs img {
	width: 100%;
	display: block;
	opacity: .7;
	cursor: pointer;
}
.flex-control-thumbs img:hover {
	opacity: 1;
}
.flex-control-thumbs .flex-active {
	opacity: 1;
	cursor: default;
}
 @media screen and (max-width: 860px) {
.flex-direction-nav .flex-prev {
	opacity: 1;
	left: 10px;
}
.flex-direction-nav .flex-next {
	opacity: 1;
	right: 10px;
}
}
/* Caption
*********************************/


.slides li {
	position:relative;
}
.flex-caption h3 {
	color:#fff;
	font-size:40px;
}
.flex-caption .btn-main:hover {
	color:#fff;
	text-decoration:none;
}
.flex-caption {
	max-width:40%;
	position:absolute;
	top:40%;
	color:#fff;
	margin: 20px 120px 120px 120px;
	-webkit-animation: slideIn;
	-moz-animation: slideIn;
	-o-animation: slideIn;
	animation: slideIn;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

.flex-caption h1 {
	color: #fff;
}
@-webkit-keyframes slideIn {
 0% {
 left: 9%;
 opacity: 0;
}
 100% {
 left: 0;
 opacity: 1;
}
}
@-moz-keyframes slideIn {
 0% {
 left: 9%;
 opacity: 0;
}
 100% {
 left: 0;
 opacity: 1;
}
}
@-o-keyframes slideIn {
 0% {
 left: 9%;
 opacity: 0;
}
 100% {
 left: 0;
 opacity: 1;
}
}
@keyframes slideIn {
 0% {
 left: 9%;
 opacity: 0;
}
 100% {
 left: 0;
 opacity: 1;
}
}
