.inner-page {
 color: #999999;
}

#main {
 background: none repeat scroll 0 0 #FFFFFF;
    padding: 60px 0;
}

/* Sidebar Widget */
.sidebar .widget {
	margin-bottom: 40px;

}

.sidebar .widget-title {
  background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1em;
    padding: 15px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
	border-right:6px solid #D2583E;
		 transform-style: flat;
	  -webkit-transform-style: flat;
	   -moz-transformtransform-style: flat;
	    -ms-transform-style: flat;
		
transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
-webkit-transform: rotate(360deg) scale(1.003) skew(-14deg) translate(0px);
-moz-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
-o-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
-ms-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	
}

.sidebar .widget-title span{
	display:block;
	
			 transform-style: flat;
	  -webkit-transform-style: flat;
	   -moz-transformtransform-style: flat;
	    -ms-transform-style: flat;
	transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
-webkit-transform: rotate(360deg) scale(1.003) skew(14deg) translate(0px);
-moz-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
-o-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
-ms-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
}




/* Sidebar Search */

#searchform  .icon-search{
	  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0;
    height: 40px;
top: 13px;
right: 15px;
    width: 30px;
	position: absolute;
	z-index:3;
	
	
}


#searchform {
	position:relative;
	
}





.widget-search  .icon-magnifier{
position: absolute;
z-index: 2;
top: 13px;
right: 15px;
	
}
.widget-search   [type='text']{
	 padding-right: 50px;
    width: 260px;
	background:none !important;
	border:none;
	border-bottom:1px solid #cccccc;
}




/* Social Widget */
.social-box {
	margin: 0 -5px;
	padding: 0;
	list-style: none;
}
.social-box > li {
	float: left;
	width: 25%;
	padding: 0 5px;
}
.social-box .social-item {
	display: block;
	border-bottom: 3px solid #e5e5e5;
	text-align: center;
}
.social-box .social-item:hover {
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	transform: translateY(-5px);
}
.social-item .social-icon {
	color: #fff;
	display: block;
	padding: 10px 0;
	border-radius: 3px 3px 0 0;
	behavior: url('PIE.php');
}
.social-item .social-icon.rss {
	background-color: #fb7922;
}
.social-item .social-icon.fb {
	background-color: #3a599a;
}
.social-item .social-icon.dribbble {
	background-color: #41abe1;
}
.social-item .social-icon.twitter {
	background-color: #ea4c89;
}
.social-item .number {
	display: block;
	background: #fff;
	color: #34495e;
	font-size: 11px;
	padding: 3px 0;
}


/* Category List */

.category-list > li a{
	color:#000;
}


.show  .posts-plus{
	display:none;
}

.posts-minus{
	display:none;
}

.show  .posts-minus{
	display:block !important;
}


.category-list > .show ul{
	display:block !important;
	
}


.category-list > li ul{
 background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid #F4F4F4;
    display: none;
    margin: 0 10px 10px 0;
    padding: 10px 0 0 35px;
}

.category-list > li ul a{
display: block;
    margin-bottom: 5px;	
}



.category-list > li ul ul {
	background:#fff;
    display: none;
    margin: 0 10px 10px 0;
    padding: 10px 0 0 25px;
}


.category-list > li {
  border-bottom: 1px solid #DEE1E3;
    padding: 8px 0;
}
.category-list > li > a {
	width: 85%;
	padding: 6px 0;
	position: relative;
}
.category-list > li:first-child > a {
	padding-top: 0;
}
.category-list > li > a:hover {
	color: #FF5757;
	left: 6px;
}
.category-list .posts-count {
  color: #D2583E !important;
    padding: 1%;
    text-align: center;
    width: 15%;
	font-weight:700;
}

.category-list > li > a i{
   display: inline-block;
    font-size: 34px;
    margin-right: 9px;
    margin-top: -25px;
    position: relative;
    top: 5px;
}


.category-list .posts-count,
.category-list > li > a {
   color: #000;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
	-moz-transition: all 1s; 
-webkit-transition: all 1s; 
-o-transition: all 1s;
}

/* Tabbed Content */

aside .nav-tabs > li.active > a:after {

 border-bottom: 4px solid #D2583E;
    bottom: -14px;
    content: "";
    display: block;
    position: absolute;
    width: 95%;
    z-index: 333;


}


	

aside .nav-tabs {
  background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1em;
    padding: 15px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
	border-right:6px solid #D2583E;
		 transform-style: flat;
	  -webkit-transform-style: flat;
	   -moz-transformtransform-style: flat;
	    -ms-transform-style: flat;
		
transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
-webkit-transform: rotate(360deg) scale(1.003) skew(-14deg) translate(0px);
-moz-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
-o-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
-ms-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	
}

aside .nav-tabs a{
	display:block;
			 transform-style: flat;
	  -webkit-transform-style: flat;
	   -moz-transformtransform-style: flat;
	    -ms-transform-style: flat;
	transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
-webkit-transform: rotate(360deg) scale(1.003) skew(14deg) translate(0px);
-moz-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
-o-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
-ms-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
}



.widget-tabbed .nav-tabs > li > a {
  color: #FFFFFF;
    font-size: 13px;
    padding: 4px 3px;
}
.widget-tabbed .entry-list > li {
	margin-top: 10px;
}
.widget-tabbed .entry-list > li:first-child {
	margin-top: 0;
}
.widget-tabbed .entry-list .entry-thumbnail {
	float: left;
	margin-right: 20px;
}
.widget-tabbed .entry-list .entry-thumbnail > a {
	display: block;
	width: 60px;
	height: 60px;
	background: #e1e1e1;
}
.widget-tabbed .entry-list .entry-main {
	overflow: hidden;
	zoom: 1;
}
.widget-tabbed .entry-list .entry-content {
  color: #000000;
    font-size: 12px;
}
.widget-tabbed .entry-list .entry-title {
	margin: 5px 0;
}
.widget-tabbed .entry-list .entry-title {
 color: #000000;
    font-size: 14px;
}
.widget-tabbed .entry-list .entry-content a,
.widget-tabbed .entry-list .entry-title,
.widget-tabbed .entry-list .entry-title > a {
 color: #000000;
}
.widget-tabbed .entry-list .entry-content a:hover {
	border-bottom: 1px dotted #34495e;
}
.widget-tabbed .entry-list .entry-title > a:hover {
	color: #ff5757;
}
.widget-tabbed .entry-list .entry-meta > * {
	display: inline-block;
	vertical-align: middle;
	color: #000;
	font-size: 0.675em;
	font-style: italic;
	margin-left: 5px;
}
.widget-tabbed .entry-list .entry-meta > :first-child {
	margin-left: 0;
}
.widget-tabbed .entry-list .entry-meta a {
 color: #959595;
    font-size: 14px;
}
.widget-tabbed .entry-list .entry-meta a:hover {
color:#D2583E;
}
.widget-tabbed .entry-list .entry-meta i ,.widget-tabbed .entry-list .entry-meta span[class*="icon-"]{
color:#D2583E;
    font-size: 1.25em;
    font-style: normal;
    margin-right: 3px;
    position: relative;
    top: 2px;
}

/* Flickr Widget */
#flickr-feed {
	margin: 0 -5px;
}
#flickr-feed > li {
	float: left;
}
#flickr-feed.cells-8 > li {
	width: 25%;
}
#flickr-feed.cells-9 > li {
	width: 33.332%;
}
#flickr-feed > li > a {
	display: block;
	float: left;
	margin: 5px;
	position: relative;
}
#flickr-feed > li > a > span {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAALUlEQVQIW2P8//9/PQMESAHxMxCDESoIF4AJzoSpgOqAq4TxwcbAtMMEwcYAAACRFYxNBVDfAAAAAElFTkSuQmCC');
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 2;
	transition: all 350ms ease-in;
	-o-transition: all 350ms ease-in;
	-moz-transition: all 350ms ease-in;
	-webkit-transition: all 350ms ease-in;
}
#flickr-feed > li > a:hover > span {
	visibility: visible;
	opacity: 1;
	filter: alpha(opacity=100);
}
#flickr-feed > li > a > span > i {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -18px;
	margin-left: -18px;
	font-size: 16px;
	color: #fff;
	border-radius: 50%;
	background: rgba(0,0,0,0.5);
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 34px;
	behavior: url('PIE.php');
}


/* Tag Cloud */
.widget-tags .tag-cloud {
	margin: -6px;
}
.widget-tags .tag-cloud > li {
	float: left;
	margin: 6px;
	
	transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
-webkit-transform: rotate(360deg) scale(1.003) skew(-14deg) translate(0px);
-moz-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
-o-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
-ms-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);


 border: 1px solid #DEE1E3;
}
.widget-tags .tag-cloud > li > a {
	text-decoration:none !important;
 
 			 transform-style: flat;
	  -webkit-transform-style: flat;
	   -moz-transformtransform-style: flat;
	    -ms-transform-style: flat;
	transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
-webkit-transform: rotate(360deg) scale(1.003) skew(14deg) translate(0px);
-moz-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
-o-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
-ms-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
    color: #000000;
    display: block;
    font-size: 14px;
    padding: 5px 8px;
}
.widget-tags .tag-cloud > li:hover {
background: none repeat scroll 0 0 #D2583E;
color:#fff;
}

.widget-tags .tag-cloud > li:hover a{
color:#fff;
}

/* Iconed List */
.iconed-list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.iconed-list > li {
	margin-top: 10px;
}
.iconed-list > li:first-child {
	margin-top: 0;
}
.iconed-list > li > a {
	color: #34495e;
}
.iconed-list > li > a:hover {
	color: #ff5757;
}
.iconed-list > li > a > i {
	float: left;
	margin-right: 15px;
	position: relative;
	top: 6px;
}
.iconed-list > li > a > span {
	overflow: hidden;
	zoom: 1;
	font-size: 0.875em;
}

/* Blog */


.entry-header{
	position:relative;
	
}
.post {

    margin-bottom: 40px;
 
}
.post .entry-media {
    margin-bottom: 25px;
    position: relative;
	overflow:hidden;
	
}

.post .entry-media img{
	width:100%;
	height:auto;
	-moz-transition: all 1s; -webkit-transition: all 1s; -o-transition: all 1s;
}


.post .entry-media:hover .img-overlay {
	    visibility: visible;
		    opacity: 1;
}

.post .entry-media  .img-overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    height: 100%;
    opacity: 0;
    padding-top: 50%;
    position: absolute;
    text-align: center;
	-moz-transition: all 1s; -webkit-transition: all 1s; -o-transition: all 1s;
    visibility: hidden;
    width: 100%;
    z-index: 4;
}



.post .entry-media:hover img {
    position: relative;
    transform: scale(1.15, 1.15);
    transition-dur: 1500ms;
    transition-timing-function: ease-out;
    z-index: 3;
}

.post .entry-media .entry-thumbnail > a {
	display: block;
	background: #e1e1e1;
	min-height: 100px;
}
.post .entry-media .media-actions {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 9;
	transition: all 150ms ease;
	-o-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-webkit-transition: all 150ms ease;
}
.post .entry-media:hover .media-actions {
	visibility: visible;
	opacity: 1;
	filter: alpha(opacity=100);
}
.post .entry-media .media-actions > .inner {
	position: absolute;
	width: 100%;
	height: 50px;
	top: 50%;
	left: 0;
	margin-top: -25px;
}
.entry-media .media-actions ul {
	display: table;
	margin: 0 auto;
}
.post .entry-media .media-actions ul > li {
	 color: #999999;
    float: left;
    font-size: 14px;
    line-height: 20px;
    margin: 5px 20px 5px 0;
    position: relative;
    top: -5px;
}
.media-actions ul > li > a {
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	background:#D2583E;
	color: #fff;
	font-size: 20px;
	-webkit-transform: scale(0.1);
	behavior: url('PIE.php');
}
.media-actions:hover ul > li > a {
	-webkit-transform: scale(1.1);
}

.post .entry-content {
	line-height: 1.75;
	 line-height: 1.9999;
}
.post .entry-format {
   float: left;
    margin: -75px 30px 20px 25px;
    position: relative;
}
.post .entry-format > a {
	display: block;

	
	background-color:#d2583e;
	color: #fff;
	font-size: 24px;
	width:  100px;
	height: 100px;
	line-height: 65px;
	text-align: center;

	behavior: url('PIE.php');
	position:relative;
	z-index:102;
	 transform-style: flat;
	  -webkit-transform-style: flat;
	   -moz-transformtransform-style: flat;
	    -ms-transform-style: flat;
		
transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
-webkit-transform: rotate(360deg) scale(1.003) skew(-14deg) translate(0px);
-moz-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
-o-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
-ms-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);

}


.post .entry-format > a span{
  font-size: 50px;
    left: 26px;
    position: absolute;
    top: 22px;
	 transform-style: flat;
	  -webkit-transform-style: flat;
	   -moz-transformtransform-style: flat;
	    -ms-transform-style: flat;		
transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
-webkit-transform: rotate(360deg) scale(1.003) skew(14deg) translate(0px);
-moz-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
-o-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
-ms-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
}

.post .entry-title {
font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
	clear:both;
}
.post .entry-title > a {
 color: #000000;
    font-size: 32px;
    font-weight: normal;
    text-transform: none;
}
.post .entry-title > a:hover {
	text-decoration:underline;
}
.post .entry-title, 
.post .entry-meta {

}
.post .entry-meta,
.post .entry-meta a {
 color: #FFFFFF;
    font-size: 14px;
    line-height: 22px;
}
.post .entry-meta a:hover {
	text-decoration:underline;
}
.post .entry-meta {
background: none repeat scroll 0 0 #000000;
    display: inline-block;
    float: right;
    margin-top: -72px;
    position: relative;
 width: 91%;
}
.post .entry-meta i,.post .entry-meta span[class*="icon-"]  {
    color:#D2583E;
    display: inline-block;
    float: left;
    font-size: 16px;
    margin: 2px 8px 0 0;
    padding: 0;
    text-align: center;
}
.post .entry-meta ul {
	float: right;
}
.post .entry-meta > ul {

    margin-top: 15px;
    padding-bottom: 5px;
    padding-left: 29px;

}
.post .entry-meta > ul > li {
	float: left;
	margin: 5px 20px 5px 0;
	position: relative;
	top: -5px;
	font-size:14px;
}
.post .entry-meta .likes {
	float: right;
	position: absolute;
	top: -1px;
	right: 0;
}
.post .entry-meta .tags > li {
	float: left;
}
.post .entry-meta .tags > li:before {
	content: ', ';
}
.post .entry-meta .tags > li:first-child:before {
	content: none;
}
.post .entry-content .readmore {
color: #999999;
}
.post .entry-content .readmore:hover {
	border-bottom: 1px dotted #ff5757;
	color: #fff;
}
.post .entry-content {
	margin-bottom: 30px;
}
.post .entry-footer .readmore {
    background: none repeat scroll 0 0#D2583E;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    padding: 12px 25px;
    text-transform: uppercase;
	behavior: url('PIE.php');
	margin-top:15px;
}
.post .entry-footer .entry-share {
	background: #fff;
	padding: 15px 20px;
	box-shadow: inset 0 -3px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 -3px rgba(0,0,0,0.1);
	behavior: url('PIE.php');
}
.post .entry-footer .entry-share .share > * {
	display: inline-block;
	vertical-align: middle;
}
.post .entry-footer .entry-share .share > span {
	font-size: 0.875em;
	text-transform: uppercase;
	color: #7f8c8c;
	margin-right: 5px;
}
.post .entry-footer .entry-share .share > ul > li {
	float: left;
	margin: 0 6px;
}
.entry-share .share > ul > li > a {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 42px;
	text-align: center;
	color :#fff;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	behavior: url('PIE.php');
}
.entry-share .share > ul > li > a:after {
	content: ' ';
	position: absolute;
	width: 150%;
	height: 150%;
	background: rgba(255,255,255,0.1);
	visibility: hidden;
	-webkit-transform: translate(3px, -50px) rotate(45deg);
	-moz-transform: translate(3px, -50px) rotate(45deg);
	-ms-transform: translate(3px, -50px) rotate(45deg);
	transform: translate(3px, -50px) rotate(45deg);
	transition: all 0.3s cubic-bezier(0,0.3, 0.5, 0.2);
	-ms-transition: all 0.3s cubic-bezier(0,0.3, 0.5, 0.2);
	-moz-transition: all 0.3s cubic-bezier(0,0.3, 0.5, 0.2);
	-webkit-transition: all 0.3s cubic-bezier(0,0.3, 0.5, 0.2);
}
.entry-share .share > ul > li > a:hover:after {
	visibility: visible;
	-webkit-transform: translate(-20px, -32px) rotate(45deg);
	-moz-transform: translate(-20px, -32px) rotate(45deg);
	-ms-transform: translate(-20px, -32px) rotate(45deg);
}
.entry-share .facebook {
	background: #3a599a;
}
.entry-share .twitter {
	background: #41abe1;
}
.entry-share .gplus {
	background: #e2534b;
}
.entry-share .linkedin {
	background: #527aa3;
}
.entry-share .pintrest {
	background: #3a599a;
}
.entry-footer .post-links {
	float: right;
}
.entry-footer .post-links > li {
	float: left;
	margin: 0 6px;
}
.entry-footer .post-links > li > a {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 42px;
	text-align: center;
	padding: 0;
}
.post.format-quote .entry-content,
.post.format-quote blockquote {
	margin: 0;
}


.post-details{
	padding:20px 0;
	border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;
}


.post-details a{
color: #000000;
    font-size: 14px;
	
	
}

.post-details a:hover{
		color:#D2583E;
}

.post-details span[class*="icon-"], .post-details i{
	color:#D2583E;
	margin-right:10px;
}



.pagination ul {

}
.pagination ul > li {
display: inline-block;

}
.pagination ul > li:first-child {
	margin-left: 0;
}
.pagination a {
 border: 1px solid #DDDDDD !important;
    color: #888888;
    font-size: 18px;
    line-height: 34px;
    padding: 7px 15px;
    text-align: center;
}

.pagination ul > li a:hover{
    background: none repeat scroll 0 0#D2583E;

  
-webkit-transform: scale(1.25);
-moz-transform: scale(1.25);
-o-transform: scale(1.25);
transform: scale(1.25);
color:#fff !important;
text-decoration:none !important;

}
.pagination .btn-primary {
    background: none repeat scroll 0 0#D2583E;
	margin:0 10px;
transform: rotate(360deg) scale(1.003) skew(-14deg) translate(0px);
-webkit-transform: rotate(360deg) scale(1.003) skew(-14deg) translate(0px);
-moz-transform: rotate(360deg) scale(1.003) skew(-14deg) translate(0px);
-o-transform: rotate(360deg) scale(1.003) skew(-14deg) translate(0px);
-ms-transform: rotate(360deg) scale(1.003) skew(-14deg) translate(0px);


}
.pagination .btn-primary span {
	display:block;
			 transform-style: flat;
	  -webkit-transform-style: flat;
	   -moz-transformtransform-style: flat;
	    -ms-transform-style: flat;
	transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
-webkit-transform: rotate(360deg) scale(1.003) skew(14deg) translate(0px);
-moz-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
-o-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
-ms-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
}

.pagination .btn-primary {
	color: #fff;
}

/* Comments */









.comments-header {
	min-width:230px;
  background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
   margin-bottom: 35px;
    padding: 15px;
    position: relative;
    text-transform: uppercase;
	border-right:6px solid #D2583E;
		 transform-style: flat;
	  -webkit-transform-style: flat;
	   -moz-transformtransform-style: flat;
	    -ms-transform-style: flat;
		
transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
-webkit-transform: rotate(360deg) scale(1.003) skew(-14deg) translate(0px);
-moz-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
-o-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
-ms-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	
}

.comments-header span{
	display:block;
			 transform-style: flat;
	  -webkit-transform-style: flat;
	   -moz-transformtransform-style: flat;
	    -ms-transform-style: flat;
	transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
-webkit-transform: rotate(360deg) scale(1.003) skew(14deg) translate(0px);
-moz-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
-o-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
-ms-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
}
.comments-header a{
	color:#fff;
}





.comments-list li {
	padding: 0 0 15px;

}
.comments-list { 
	margin-bottom: 15px;
}
.comments-list .comment {
	position: relative;
	min-height: 100px;
}
.comment .avatar-placeholder {
	position: absolute;
	left: 0;
	top: 0;
	width: 70px;
	height: 70px;
	border-radius: 10px;
	background-color: #e1e1e1;
	z-index: 9;
	behavior: url('PIE.php');
}




.comment .comment-header {
	margin: 0 0 10px 90px;
}
.comment .comment-author {
   color: #000000;
    display: block;
    font-size: 20px;
    font-weight: normal;
}
.comment .comment-datetime {
	color:#D2583E;
    font-size: 14px;
    font-weight: normal;
}


.comment-datetime i, .comment-datetime span[class*="icon-"] {
    color:#D2583E;
    font-size: 1.25em;
    font-style: normal;
    margin-right: 3px;
    position: relative;
    top: 2px;
}



.comment .comment-reply {
    color: #D2583E;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin-right: 0;
}


.comments-wrapper .comment-about-autor .comment .comment-body {
	border-bottom:0;
}

.comment .comment-body {
	 background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #DEE1E3;
    font-size: 0.875em;
    line-height: 1.75;
    margin-left: 40px;
    padding: 15px 30px 15px 50px;
}
.comments-list .children {
	list-style: none;
	padding: 0;
	margin: 30px 0 0 40px;
}
.comments-list > li:last-child,
.comments-list .children > li:last-child {
	margin-bottom: 0;
	background: none;
}