/*
| ----------------------------------------------------------------------------------------------
| HOME PAGE IE8  Fixed
| ----------------------------------------------------------------------------------------------
*/


.ie8 .page-header {
	background: none repeat scroll 0 0 #001E40 !important;
}
.ie8 #home {
	display:block !important;
}
.ie8 .onepage section {
	display:none !important;
}
.ie8 #main-menu li {
	display:none !important;
}
.ie8 #main-menu li.first, .ie8 #main-menu li.last {
	display:block !important;
}
.ie8 #searchform .icon-search {
	background:none !important;
}

.bg {
  background: url('http://i.imgur.com/USFbNpC.jpg') repeat;
  position: fixed;
  width: 100%;
  height: 300%;
  top:0;
  left:0;
  z-index: -1;
}


/*
| ----------------------------------------------------------------------------------------------
| General & helper styles
| ----------------------------------------------------------------------------------------------
*/

html {
	font-size: 100%;
}
body {

	font-family: 'Play', sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.555;
	-webkit-font-smoothing: antialiased;
		color: #777777;
}
* {
	outline:none !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family:'Play', sans-serif;
	color:#000;
}
[class*="space"] {
width: 100%;
float: left;
}
.space10 {
	height: 10px;
}
.space20 {
	height: 20px;
}
.space30 {
	height: 30px;
}
.space40 {
	height: 40px;
}
.space50 {
	height: 50px;
}
.space60 {
	height: 60px;
}
.relative {
	position: relative;
}
.unstyled {
	list-style: none;
	padding: 0;
	margin: 0;
}
.img, .img img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"], textarea, select {
	background: #F2F2F1;
	border: medium none;
	box-shadow: none;
	color: #777777;
	font-size: 14px;
	padding: 10px 20px;
	font-size: 14px;
}
label.placeholder {
	position: absolute;
	top: 0;
	left: 0;
	cursor: text;
	padding: 14px 25px;
	font-weight: normal;
}
.form-group .required:after {
	content: '*';
	margin-left: 5px;
	color: #ff1c32;
}
.placeholder.hide-label {
	display: none;
}
*, *:focus, *:active {
	outline: none;
}
#loading-mask {
	background: #fff;
	height: 100%;
	left: 0;
	opacity: 1;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 999999999;
}
.loading-img {
	height: 100%;
	left: 0;
	position: fixed;
	top: 50%;
	width: 100%;
}
.videoplayer {
	border: 0;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16/9 ratio */
	padding-top: 30px; /* IE6 workaround*/
	height: 0;
	overflow: hidden;
}
.video-container .videoplayer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.page-img {
	clear: both;
	display: inline-block;
	height: 85px;
	margin-top: 70px;
	position: relative;
	width: 100%;
}
.page-img h3 {
	color: #FFFFFF;
	font-size: 36px;
	margin-top: 23px;
}
/*
| ----------------------------------------------------------------------------------------------
| Typography
| ----------------------------------------------------------------------------------------------
*/
h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	margin: 0 0 20px 0;
}
h1 {
	font-size: 40px;
	line-height: 30px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 16px;
}
.text-light {
	font-weight: 300;
}
.text-regular {
	font-weight: 400;
}
.text-bold {
	font-weight: 700;
}
.uppercase {
	text-transform: uppercase;
}
p:last-child {
	margin: 0;
}
/*
| ----------------------------------------------------------------------------------------------
| Links
| ----------------------------------------------------------------------------------------------
*/
a, a:hover {
	text-decoration: none;
}
a {
	color: #777777;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
a:hover {
	text-decoration:underline;
}
/*
| ----------------------------------------------------------------------------------------------
| Header
| ----------------------------------------------------------------------------------------------
*/


.top-bar {
	background: none repeat scroll 0 0 #444444;
	display: inline-block;
	float: none;
  font-size: 12px;
	left: 0;
	margin: 0;
	padding: 15px 0;
	position: relative;
	width: 100%;
	z-index: 1;
}
.top-bar a {
	color:#fff;

}
.top-bar a:hover {
	color:#d2583e;
}
.social a {
	display:inline-block;
	margin:0 8px;
			font-size: 15px;
}
.social i {
	color:#999999;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.social i:hover {
	color:#d2583e;
}
.page-header {
	width: 100%;
	padding: 20px 0;
	margin: 0;
	border: 0;
	z-index: 777;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.onepage .page-header {
	background: none repeat scroll 0 0 #172330;
	position: absolute;
	top: 44px;
}
.sticky.page-header {
	position: fixed;
	top: 0px;
}
.sticky-header .page-header.sticky {
	background: rgba( 23, 35, 48, 0.9);
}
.inner-page.sticky-header .page-header {
	background: rgba( 23, 35, 48, 0.9);
}
.page-header.sticky .row {
	margin-top: 8px;
}
.page-header .logo {
	margin-top: 1px;
	float: left;
}
.page-header .logo a {
	display: block;
}
.page-header .menu {
	padding: 0;
	margin: 0;
	list-style: none;
	text-transform:uppercase;
}
.main-menu {
	float: right;
}
.main-menu ul {
	display: none;
	position: absolute;
	width: 180px;
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;
	background:none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}
.main-menu li {
	position: relative;
}
.main-menu > li {
	float: left;
	margin-left: 10px;
}
.main-menu > li:first-child {
	margin-left: 0;
}
.main-menu ul > li > a {
  padding: 0 10px;
    position: relative;
}
.main-menu ul > li > a:hover {
	left: 7px;
}
.main-menu a {
	color: #FEFEFE;
	display: block;
	font-size: 14px;
	font-weight: normal;
}
.main-menu > li > a {
	padding: 11px 4px;
	text-align: center;
}
.main-menu > li > a:hover, .main-menu > .hover > a {
	color:#d2583e;
}
.main-menu > li.current > a {
	color:#d2583e;
	text-decoration:none;
}
#mobile-menu {
	float: right;
}
.sticky #mobile-menu button {
	background: #D2583E;
}
/*
| ----------------------------------------------------------------------------------------------
| Section
| ----------------------------------------------------------------------------------------------
*/




.section {
	padding: 100px 0;
	line-height:1.333;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover !important;
	background-color:#fff;
	position:relative;


}
.section-header {
	text-align: center;
	margin-bottom: 30px;
}
.section-header .heading {
	background: none repeat scroll 0 0 #000000;
	color: #FFFFFF;
	display: inline-block;
	font-size: 36px;
	height:60px;
	font-weight: normal;
	padding: 10px 20px;
	position: relative;
	text-transform: uppercase;
	min-width: 50%;
	line-height: 42px;
	border-right:6px solid #D2583E;
	transform-style: flat;
	-webkit-transform-style: flat;
	-moz-transformtransform-style: flat;
	-ms-transform-style: flat;
	transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-webkit-transform: rotate(360deg) scale(1.003) skew(-14deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
}
.section-header .heading span {
	display:block;
	transform-style: flat;
	-webkit-transform-style: flat;
	-moz-transformtransform-style: flat;
	-ms-transform-style: flat;
	transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-webkit-transform: rotate(360deg) scale(1.003) skew(14deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
}
.section-header .heading.heading-type2 {
	border-bottom:2px solid #D2583E;
	border-top:2px solid #D2583E;
	border-left:10px solid #000;
	border-right:10px solid #000;
	background: none repeat scroll 0 0 #FFFFFF;
	color: #000000;
	font-size: 22px;
	line-height: 35px;
	position: relative;
	z-index: 444;
	 max-width: 295px !important;
    min-width: 295px !important;
}



.section-header-type2{
	max-width:700px;
}



.section-header .heading.heading-type2:before {
	border-bottom: 1px solid #D2583E;
		border-top: 1px solid #D2583E;
		padding:2px 0;
    content: "";
    display: block;
    left: -70px;
    position: absolute;
    top: 24px;
    width: 60px;
    z-index: 104;
}
.section-header .heading.heading-type2:after {
	 border-bottom: 1px solid #D2583E;
	 border-top: 1px solid #D2583E;
    content: "";
    display: block;
    padding: 2px 0;
    position: absolute;
    right: -70px;
    top: 27px;
    width: 60px;
    z-index: 104;
}
.section-header p {
 color: #777777;
	font-size: 18px;
	font-weight: normal;
}
/*
| ----------------------------------------------------------------------------------------------
| Slider
| ----------------------------------------------------------------------------------------------
*/

#Services{
	   background-color: #FFFFFF;
    z-index: 4;
}


#Services2 {
	backface-visibility: hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility: hidden;
	background-repeat:no-repeat;
	-moz-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	-moz-background-attachment:fixed;
	-moz-transform: rotate(0deg) scale(1.000) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.000) skew(0deg) translate(0px);
	transform: rotate(0deg) scale(1.000) skew(0deg) translate(0px);
	padding: 90px 0 !important;
	height: 600px;
}
.home-slider {
	margin-top: -100px;
	min-height: 800px;
	position: relative;
	width: 100%;
	background:#fff;
	padding-bottom: 10px;
}
.slider {
	padding: 0;
	margin: 0;
	list-style: none;
}
.sequence-canvas, .sequence-canvas > li {
	width: 100%;
	height: 100%;
}
.sequence-canvas > li {
	position: absolute;
}
/*
| ----------------------------------------------------------------------------------------------
| Services
| ----------------------------------------------------------------------------------------------
*/



#Services .nav-tabs {
	border:none;
}
#Services .nav-tabs > li.active > a, #Services .list-service li.active span {
	color: #FF1C32;
}
.service {
	text-align: left;
	margin: 30px auto;
	max-width: 300px;
	color:#959595;
}
.service header {
	margin-top: 40px;
}
.service .heading > a {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.service .body p {
	font-size: 0.875em;
	line-height: 1.75em;
}
.service footer {
	margin-top: 30px;
}
.check-list {
	margin: 0;
	padding: 0;
	text-align: left;
}
.check-list li {
	color: #FFFFFF;
	font-size: 15px;
	line-height: 18px;
	list-style: none outside none;
	margin-bottom: 2px;
	overflow: hidden;
}
.check-list li .fa {
	float: left;
	font-size: 20px;
	height: 42px;
	margin-right: 10px;
}
.list-service {
	list-style: none outside none;
	margin-top: 40px;
}
.list-service .nav-tabs li {
	border-top: 1px solid #6A6A6A;
	clear: both;
	color: #959595;
	display: inline-block;
	font-size: 20px;
	margin-bottom: 0;
	padding-top: 0;
	text-align: left;
	width: 100%;
}
.list-service li span {
	color: #FFFFFF;
	font-size: 47px;
	margin-right: 10px;
	position: relative;
	top: 8px;
}
.list-service li a {
	border:none !important;
	padding:0 !important;
	margin:0 !important;
	padding:0 !important;
	background:none !important;
}
.list-service li a .icon-briefcase {
	margin-left:5px;
}
.list-service li a .icon-pie-chart {
	margin-left:-5px;
}
.list-service li a .icon-chemistry {
	font-size: 56px;
}
.list-service h4 {
	color:#fff;
}
#Services2 h3, #Services2.tab-content h4, #Services2 .tab-content h5, #Services2 .tab-content h6 {
	color:#fff;
}
#Services2 .tab-content {
	font-size:15px;
	color:#fff;
}
#Services2 .list-service li a {
	font-size:15px;
	color:#fff;
}
#Services2 .list-service li a:hover {
	color:#D2583E !important;
}
#Services2.tab-content hr {
	border-top:1px solid #6A6A6A;
}
#Services2 .nav-tabs {
	border-bottom:1px solid #6A6A6A;
}
#Services2 .nav-tabs a {
	display: block;
	float: left;
	font-size: 14px !important;
	font-weight: 700;
	margin: 0;
	padding: 45px 0 35px !important;
	text-transform: uppercase;
}
/*
| ----------------------------------------------------------------------------------------------
| About
| ----------------------------------------------------------------------------------------------
*/


#about .nav-tabs li strong {
	color: #000000;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	display:block;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
#about .nav-tabs li:hover strong {
	color:#D2583E !important;
}
#about .nav-tabs li {
	color:#777777;
	font-size:14px;
}
/*
| ----------------------------------------------------------------------------------------------
| Facts
| ----------------------------------------------------------------------------------------------
*/

.no-bg {
 background-color: rgba(0, 0, 0, 0);
}
.section-header-simple {
	text-align:center;
}
.section-header-simple .heading span {
	font-size:30px;
	text-transform:uppercase;
	text-align:center;
}
.section-header-simple * {
	font-size:16px;
	color:#fff;
}
.numbers {
	text-align:center;
}
.numbers li {
	display: inline-block;
	vertical-align: top;
	width: 215px;
	margin: 30px 0 0;
}
.wrap-offer {
	background: none repeat scroll 0 0 #FFFFFF;
	display: block;
	position: relative;
	text-align: center;
	width: 205px;
	transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	transform-style: flat;
	-webkit-transform-style: flat;
	-moz-transformtransform-style: flat;
	-ms-transform-style: flat;
	transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-webkit-transform: rotate(360deg) scale(1.003) skew(-14deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
}
.wrap-offer i {
	color: #777777;
	font-size: 95px;
	margin: 0 0 0 -6px;
	position: relative;
	top: -7px;
	z-index: 101;
	display:block;
}
.wrap-offer * {
	transform-style: flat;
	-webkit-transform-style: flat;
	-moz-transformtransform-style: flat;
	-ms-transform-style: flat;
	transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-webkit-transform: rotate(360deg) scale(1.003) skew(14deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
}
.span-title {
	background: none repeat scroll 0 0 #D2583E;
	color: #FFFFFF;
	display: block;
	font-size: 17px;
	left: -18px;
	margin: 0 auto;
	padding: 7px 10px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	top: 10px;
	width: 125px;
}
.numbers li:hover .span-title {
	background:#fff;
	color:#D2583E;
}
.numbers li:hover .wrap-offer:before, .numbers li:hover .wrap-offer:after, .numbers li:hover .wrap-offer {
	background:#D2583E;
	color:#fff;
}
.numbers li:hover .wrap-offer i, .numbers li:hover .offer-name {
	color:#fff;
}
.offer-name {
	bottom: 15px;
	color: #000000;
	font-size: 16px;
	left: 35px;
	position: absolute;
	z-index: 102;
}
/*
| ----------------------------------------------------------------------------------------------
| Portfolio
| ----------------------------------------------------------------------------------------------
*/

#portfolio {
	padding-top: 0;
}

.portfolio-slider{
	min-width:100%;
}




.portfolio-filter-wrap {
	height: 48px;
	margin-bottom: 30px;
	overflow: hidden;
}
.portfolio-filter > li {
	display: inline-block;
}
.portfolio-filter > li .btn-primary {
	position:relative;
	border-bottom:3px solid #d2583e;
}
.portfolio-filter .boxshadow .btn:hover {
	background:#ff1c32;
	-webkit-box-shadow: inset 0 -4px 0 rgba(0,0,0,0.3);
	box-shadow: inset 0 -4px 0 rgba(0,0,0,0.3);
}
.portfolio-filter > li .btn-primary:hover a {
	color:#fff;
}
.portfolio-filter a {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #FFFFFF;
	font-size: 14px;
	font-weight: normal;
	line-height: 15px;
	padding: 15px 20px;
	text-transform: uppercase;
}
.portfolio-frame {
	margin: 40px 0 0;
	overflow: hidden;
	width: 100%;
}
.portfolio-slider {
	height: 580px;
	cursor: -webkit-grab;
}
.portfolio-slider:active, .portfolio-slider:focus {
	cursor: -webkit-grabbing;
}
.portfolio-navigation {
	margin: 20px auto 0;
	max-width: 100px;
	position: relative;
}
.portfolio-navigation .slider-direction {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #E8E8E8;
	height: 40px;
	width:40px;
	padding: 12px 0;
	position: absolute;
	text-align: center;
	top: 0;
}
.portfolio-navigation .slider-direction i {
	color:#d2583e;
}
.portfolio-navigation .slider-direction.disabled {
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.portfolio-navigation .prev-page {
	left: 0;
}
.portfolio-navigation .next-page {
	right: 0;
}
.portfolio-navigation .pages {
	display: table;
	margin: 0 auto;
	display:none !important;
}
.portfolio-navigation .pages > li {
	float: left;
	margin: 0 5px;
	text-indent: -9999em;
	width: 15px;
	height: 15px;
	background:none repeat scroll 0 0 #EEEEEE;
	cursor: pointer;
}
.portfolio-navigation .pages > .active {
	background: #d2583e;
}
.portfolio-item {
	position: relative;
	margin:0px;
	width: 266px;
	overflow: hidden;
	cursor: default;
}
.portfolio-item .item-thumbnail {
	min-height: 100px;
	overflow: hidden;
	background: #e1e1e1;
}
.portfolio-item .item-thumbnail > a {
	display: block;
}
.portfolio-filter {
	background: none repeat scroll 0 0 #000000;
	color: #FFFFFF;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 1em;
	position: relative;
	text-transform: uppercase;
	border-right:6px solid #D2583E;
	transform-style: flat;
	-webkit-transform-style: flat;
	-moz-transformtransform-style: flat;
	-ms-transform-style: flat;
	transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-webkit-transform: rotate(360deg) scale(1.003) skew(-14deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
}
.portfolio-filter a {
	display:block;
	transform-style: flat;
	-webkit-transform-style: flat;
	-moz-transformtransform-style: flat;
	-ms-transform-style: flat;
	transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-webkit-transform: rotate(360deg) scale(1.003) skew(14deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
}
.item-hover .actions {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	border-radius: 0;
	overflow: hidden;
	z-index: 2;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.portfolio-item:hover .item-hover .actions {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.item-hover .actions ul > li {
	float: left;
	width: 50%;
}
.item-hover .actions ul > li > a {
	display: block;
	padding: 12px 0 8px 0;
	font-size: 22px;
	text-align: center;
	color: #fff;
	background: #ff1c32;
	border-left: 1px solid #fff;
	border-bottom: 4px solid transparent;
}
.boxshadow .item-hover .actions ul > li > a {
	padding: 12px 0;
	border-bottom: 0;
}
.item-hover .actions ul > li:first-child > a {
	border-left: 0;
}
.item-hover .actions ul > li > a:hover {
	border-bottom-color: #1f9150;
}
.boxshadow .item-hover .actions ul > li > a:hover {
	-webkit-box-shadow: inset 0 -4px 0 rgba(0,0,0,0.3);
	box-shadow: inset 0 -4px 0 rgba(0,0,0,0.3);
}
.portfolio-item .item-hover .details {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 86%;
	padding: 20px 20px 77px 20px;
	background: rgba( 0, 0, 0, 0.6);
	color: #fff;
	border-radius: 2px;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.35s 0.05s;
	-moz-transition: opacity 0.35s 0.05s;
	transition: opacity 0.35s 0.05s;
}
.portfolio-item:hover .item-hover .details {
	opacity: 1;
	filter: alpha(opacity=100);
}
.item-hover .details > .table {
	display: table;
	width: 100%;
	height: 100%;
}
.table > .vertical-center {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.detail-item {
	color: #FFFFFF;
	font-size: 20px;
	line-height:20px;
	left: -25px;
	margin: 32px 0 10px;
	padding: 5px 15px;
	position: relative;
	text-transform: uppercase;
}
.detail-item li {
	display:inline-block;
}
.item-hover .vertical-center .btn {
	background: none repeat scroll 0 0 #D2583E;
	border-radius: 4px;
	color: #FFFFFF;
	padding: 3px 15px;
	text-transform: uppercase;
}
.item-hover .vertical-center .btn:hover {
	opacity:0.8;
}
.portfolio-frame {
	margin: 0 auto;
	overflow: auto;
	padding: 0;
	width: 100%;
}
#portfolio .sly_scrollbar {
	margin: -40px auto 30px;
	max-width: 11600px;
}
.portfolio-slider {
	max-width: 15600px;
}
.car-title {
	background:#eeeeee;
	padding:10px 20px;
	font-size:16px;
	color:#000;
	transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.portfolio-item:hover .car-title {
	background:none repeat scroll 0 0 #D2583E;
	color:#fff;
}
/*
| ----------------------------------------------------------------------------------------------
| Our Team
| ----------------------------------------------------------------------------------------------
*/




#our-team .sly_scrollbar {
	margin: 30px auto;
	max-width: 1600px;
}
.team-slider {
	margin:0;
	padding:0;
}
.team-frame {
	margin: 0 auto;
	overflow: auto;
	padding: 0;
	width: 100%;
}
.team-slider li {
	display: inline-block;
	float: left;
	margin: 0 10px;
	position: relative;
	vertical-align: top;
	width: 272px;
}


.team-slider .avatar-team{
	position:relative;
}


.team-slider li:hover .avatar-team:after{
	display:block ;

}

.team-slider .avatar-team:after{

    background: rgba( 0, 0, 0, 0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	display:none;

}

.team-member .heading {
	font-size: 20px;
	font-weight: 400;
	margin: 20px 0 10px;
	text-align: center;
	text-transform: uppercase;
}
.team-member .sub-heading {
	color: #D2583E;
	font-size: 14px;
	font-weight: normal;
	position: relative;
	text-align: center;
	margin-bottom:10px;
	margin-top: 20px;
	display: block;
}
.team-member .social {
	display: table;
	margin: 0 auto;
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
}
.team-member .social > li {
	display: inline-block;
	margin-right: -4px;
}
.team-member .social > li > a {
	border: 2px solid #FFFFFF;
	border-radius: 100px;
	color: #FFFFFF;
	display: block;
	font-size: 1.125em;
	line-height: 1;
	margin: 0 6px;
	padding: 13px 14px;
}
.team-member .social > li > a:hover {
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
	color: #FF1C32;
}
.team-member .desc-det {
    margin-bottom: 20px;
    padding-top: 8px;
    text-align: center;
}
.team-member .details {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px 20px 25px;
	background: #ff1c32;
	color: #fff;
	border-radius: 2px;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.35s 0.05s;
	-moz-transition: opacity 0.35s 0.05s;
	transition: opacity 0.35s 0.05s;
}
.team-member:hover .details {
	opacity: 1;
	filter: alpha(opacity=100);
}
.progress-section {
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    display: block;
    margin: 30px 0;
    padding: 22px 0;
}
.progress-section .level-skill {
	display: inline-block;
	width: 70px;
}
.progress-section .progress-bar {
	background: none repeat scroll 0 0 #BBBBBB;
	display: inline-block;
	float: none;
	height: 17px;
	margin: 0 0 0 7px;
	position: relative;
	top: 3px;
	width: 186px;
}
.progress-section .progress {
	background: none repeat scroll 0 0 #D2583E;
	float: left;
	height: 17px;
	width: 80px;
	-webkit-animation: stretch 5s infinite linear;
	animation: stretch 5s infinite linear;
}
progress-bar .row {
	height: 10px;
	width: 270px;
	float: left;
	display: inherit;
	-webkit-animation: squeeze 5s infinite linear;
	animation: stretch 5s infinite linear;
}
 @keyframes stretch {
 0% {
width: 100px;
}
 25% {
width: 130px;
}
 50% {
width: 180px;
}
 75% {
width: 140px;
}
 100% {
width: 100px;
}
}
@keyframes squeeze {
 0% {
width: 170px;
}
 25% {
width: 120px;
}
 50% {
width: 140px;
}
 75% {
width: 170px;
}
 100% {
width: 180px;
}
}
.social-team {
   display: inline-block;
    margin-top: 55px;
}
.social-team li {
	border: 1px solid #EEEEEE;
	display: inline-block;
	float: left;
	height: 46px;
	line-height: 30px;
	margin: 10px !important;
	padding: 10px;
	width: auto !important;
}
.social-team li:hover {
	background:#d2583e;
	transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
}
.social-team li:hover i {
	color:#fff;
}
/*========== Shop Product Animation ==========*/



.avatar {
	transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.avatar {
	-webkit-transform: rotateY(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-transform: rotateY(0deg) rotateY(0deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;
}
.avatar {
	-webkit-transform: rotateY(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-transform: rotateY(0deg) rotateY(0deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;
}
.avatar {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-ms-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .35s ease;
}
.team-member:hover .avatar {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.team-member:hover .avatar {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
}
.team-member:hover .avatar {
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-ms-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .35s ease;
}
.team-member .details, .team-member .details {
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.team-member .details {
	-webkit-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-transform: rotateY(-180deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;
}
.team-member .details {
	-webkit-transform: rotateY(180deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-transform: rotateY(180deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;
}
.team-member .details {
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-ms-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .35s ease;
}
.team-member:hover .details, .team-member:hover .details {
	z-index:10;
	position:absolute;
	-webkit-transform: rotateY(0deg) rotateY(0deg);
	-moz-transform: rotateY(0deg) rotateY(0deg);
}
.team-member:hover .details {
	z-index:10;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-ms-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .35s ease;
}
/*
| ----------------------------------------------------------------------------------------------
| Clients
| ----------------------------------------------------------------------------------------------
*/

#our-clients table {
	margin:0 auto;
}
#our-clients td {
 padding: 0 35px;
    text-align: center;
}
#our-clients td a {
	display: block;
}
/*
| ----------------------------------------------------------------------------------------------
| Reviews
| ----------------------------------------------------------------------------------------------
*/



#our-reviews {
}
.review-slider li {
	border: 1px solid #DDDDDD;
	display: inline-block;
	float: left;
	list-style: none outside none;
	margin: 0 10px 60px;
	padding:0;
	position: relative;
	vertical-align: top;
	width: 550px;
}
#our-reviews .avatar-review {
	float: left;
	height: auto;
	max-width: 170px;
	position:relative;
}
#our-reviews .avatar-review img {
	width:100%;
	height:auto;
}


.team-member:hover .avatar-review:after{
	display:block !important;

}

#our-reviews .avatar-review:after{

    background: rgba( 0, 0, 0, 0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	display:none ;

}



.details-review {
   /* background: url("../img/qt.png") no-repeat scroll 8% 10% rgba(0, 0, 0, 0); */
    float: left;
    height: 170px;
    padding: 1% 5% 5%;
    position: relative;
    text-align: left;
    width: 66%;
}
.details-review * {
	text-align:left !important;
}
.review-autor {
	border-top: 10px solid #D2583E;
	bottom: -55px;
	position: absolute;
	right: 10px;
	text-align: center;
	width: 100px;
}
.review-autor:before {
	background: none repeat scroll 0 0 #D2583E;
	color: #FF1C32;
	content: "";
	display: block;
	height: 3px;
	left: -6px;
	padding: 5px;
	position: absolute;
	top: -10px;
 -webkit- transform: rotate(0deg) scale(1.01) skew(-17deg) translate(0px);
 -moz- transform: rotate(0deg) scale(1.01) skew(-17deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.01) skew(-17deg) translate(0px);
	transform: rotate(0deg) scale(1.01) skew(-17deg) translate(0px);
	width: 15px;
	z-index: 999;
}
.review-autor:after {
	background: none repeat scroll 0 0 #D2583E;
	color: #FF1C32;
	content: "";
	display: block;
	height: 3px;
	right: -6px;
	padding: 5px;
	position: absolute;
	top: -10px;
 -webkit- transform: rotate(0deg) scale(1.01) skew(-17deg) translate(0px);
 -moz- transform: rotate(0deg) scale(1.01) skew(-17deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.01) skew(-17deg) translate(0px);
	transform: rotate(0deg) scale(1.01) skew(-17deg) translate(0px);
	width: 15px;
	z-index: 999;
}
.review-autor .heading {
	font-size: 14px;
	margin: 10px 0 5px;
	padding:0;
	text-align:center !important;
}
.review-autor .sub-heading {
	color:#777777;
	font-size:12px;
	margin:0;
	text-align:center !important;
	padding:0;
}
/*
| ----------------------------------------------------------------------------------------------
| Contact us
| ----------------------------------------------------------------------------------------------
*/



#contact {
	min-height:900px;
	padding-bottom:0;
}


.contact-row{
	display:block ;
	padding-top:20px;
}

.contact-form {
	margin-top:30px;

}

.map{
	margin-top:100px;
}


.form-full-width .form-group input[type="text"], .form-full-width .form-group input[type="password"], .form-full-width .form-group input[type="email"], .form-full-width .form-group select, .form-full-width .form-group textarea {
	width: 100%;
}
.contact-text p {
	line-height: 22px;
}
.contact-text i {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	font-size: 20px;
	margin-right: 10px;
}
.contact-text i:hover {
	color:#d2583e;
}
#contact-form .form-group, #contact-form2 .form-group {
   margin-bottom: 10px;
    position: relative;
}
#contact-form .form-group label, #contact-form2 .form-group label {
	margin: 0;
}
#contact-form .form-group .required:after, #contact-form2 .form-group .required:after {
	content: '*';
	margin-left: 5px;
	color: #ff1c32;
}
.section-nightblue #contact-form .form-group input[type="text"], .section-nightblue #contact-form .form-group input[type="password"], .section-nightblue #contact-form .form-group input[type="email"], .section-nightblue #contact-form .form-group select, .section-nightblue #contact-form .form-group textarea {
	background: #2d4053;
}
#contact-form input[type="color"], #contact-form input[type="email"], #contact-form input[type="number"], #contact-form input[type="password"], #contact-form input[type="tel"], #contact-form input[type="url"], #contact-form input[type="text"], #contact-form textarea, #contact-form select {
	border: medium none;
	box-shadow: none;
	color: #777777;
	font-size: 14px;
	background:#f2f2f1;
}
#contact-form label.placeholder {
	font-size: 1.125em;
}
.form-group textarea {
	height: 200px;
}
#contact-submit, #contact-submit2 {
	margin-top: 30px;
}
.google-map {
	height: 200px;
}
#contact .alert {
	margin-top: 40px;
}

.iframe {
border:none;
overflow:hidden;
margin:0;
height:350px;
width:100%;
}







/*
| ----------------------------------------------------------------------------------------------
| Connected
| ----------------------------------------------------------------------------------------------
*/



.section-red .heading {
	color:#fff;
}
.section-red .heading {
	color:#fff;
}
#connected .section-header p {
	color:#fff;
}
.item-connected {
	text-align:center;
}
.item-connected .glyph-item, .item-connected span[class*="icon-"] {
	color: #FFFFFF;
	display: block;
	font-size: 80px;
	height: 110px;
}
.item-connected footer {
	color:#fff;
	font-size:14px;
	text-transform:uppercase;
	text-align:center;
}
.item-connected footer a {
	color: #FFFFFF;
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	padding-top: 5px;
	text-align: center;
	text-transform: none;
}
.item-connected footer a:hover {
	text-decoration:underline;
}
/*
| ----------------------------------------------------------------------------------------------
| Page Footer
| ----------------------------------------------------------------------------------------------
*/
.section-footer {
	background: none repeat scroll 0 0 #D2583E;
	color: #FFFFFF;
	text-align: center;
}
.go-top:after {
	border-bottom: 1px solid #FFFFFF;
	content: "";
	display: block;
	left: -32px;
	position: absolute;
	top: 20px;
	width: 120px;
	z-index: 104;
}
.go-top:before {
	border-bottom: 1px solid #FFFFFF;
	content: "";
	display: block;
	left: -32px;
	position: absolute;
	top: 24px;
	width: 120px;
	z-index: 104;
}
.go-top {
	text-decoration:none !important;
	cursor:pointer;
	padding: 12px 20px;
	background:#fff;
	position:absolute;
	right:0;
	top:10px;
	transform-style: flat;
	-webkit-transform-style: flat;
	-moz-transformtransform-style: flat;
	-ms-transform-style: flat;
	transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-webkit-transform: rotate(360deg) scale(1.003) skew(-14deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
}
.go-top i {
	font-size:20px;
	color:#000;
	position:relative;
	z-index:333;
	text-decoration:none !important;
	display:block;
	transform-style: flat;
	-webkit-transform-style: flat;
	-moz-transformtransform-style: flat;
	-ms-transform-style: flat;
	transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-webkit-transform: rotate(360deg) scale(1.003) skew(14deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
}
.page-footer {
	padding: 15px 0;
	position: relative;
}
.page-footer .copyright {
	font-size: 0.875em;
	padding: 18px 0;
}
.page-footer .social {
	float: right;
}
.page-footer .social > li {
	float: left;
}
.page-footer .social a {
	display: block;
	width: 50px;
	height: 50px;
	color: #fff;
	line-height: 50px;
	text-align: center;
	font-size: 1.25em;
}
.page-footer .social a:hover {
	background: #ff1c32;
}
/* Sly Slider */
.sly_scrollbar {
	height: 14px;
	border-radius: 4px;
	margin: 30px 15px 0;
}
.sly_scrollbar:after {
	background: none repeat scroll 0 0 #ECECEC;
	content: "";
	display: block;
	height: 2px;
	position: relative;
	top: -8px;
	width: 100%;
	padding:0;
	z-index: 4;
}
.sly_scrollbar .handle {
	width: 75px;
	height: 100%;
	background: #ff1c32;
	margin: 0;
	cursor: pointer;
	position:relative;
	z-index:7;
}
.blockquote {
	position: relative;
	border: 0;
	background: #ff1c32;
	background-color: #FF1C32;
	background-image: url("../img/circle.png");
	background-position: center center;
	background-repeat: repeat;
	color: #fff;
	padding: 50px 60px;
}
.blockquote > i {
	float: left;
	margin: 5px 20px 0 0;
	font-size: 40px;
}
.blockquote > p {
	overflow: hidden;
	zoom: 1;
	font-size: 1.25em;
	font-weight: normal;
	margin: 0 0 30px;
}
.blockquote > span {
	position: absolute;
	right: 55px;
	bottom: 30px;
}



























/*Price Page*/



.panel-heading h3{
   color: #FFFFFF;
    margin: 0;
}


.panel .price {
  font-size: 4em;
}

.panel .price-cents {
  vertical-align: super;
  font-size: 50%;
}

.panel .price-month {
  font-size: 35%;
  font-style: italic;
}
.panel {
-webkit-transition-property : scale;
-webkit-transition-duration : 0.2s;
-webkit-transition-timing-function : ease-in-out;
-moz-transition : all 0.2s ease-in-out;
}

.panel:hover {
box-shadow: 0 0 10px rgba(0,0,0,.5);
-moz-box-shadow: 0 0 10px rgba(0,0,0,.5);
-webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
}

/*TimeeLine*/



.timeline {
   list-style: none outside none;
    margin-top: -10px;
    padding: 20px 0;
    position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
  width: 50%;
  float: left;
  clear: left;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 95%;
  float: left;
  border: 1px solid #d4d4d4;
  /*border-radius: 2px;*/
  /*padding: 20px;*/
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 24px;
  height: 24px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  right: -12px;
  /*background-color: #999999;*/
  z-index: 100;
  /*
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  */
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge > a {
  color: #C5C7C5 !important;
}
.timeline-badge a:hover {
  color: #000 !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    padding:20px;
    margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.timeline-footer{
    padding:20px;
    background-color:#f4f4f4;
}
.timeline-footer > a{
    cursor: pointer;
    text-decoration: none;
}
.tooltip{

    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:11px;
    opacity:0;
    filter:alpha(opacity=0);

}
.tooltip.in{
    /*opacity:0;
    filter:alpha(opacity=80);*/

}
.tooltip.top{
    margin-top:-2px;
}
.tooltip.right{
    margin-left:2px;
}
.tooltip.bottom{
    margin-top:2px;
}
.tooltip.left{
    margin-left:-2px;
}
.tooltip.top .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.left .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.bottom .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.right .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip-inner{
    width:200px;
    padding:3px 8px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    background-color:#313131;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0;
}
.timeline > li.timeline-inverted{
  float: right;
  clear: right;
  margin-top: 30px;
  margin-bottom: 30px;
}
.timeline > li:nth-child(2){
  margin-top: 60px;
}
.timeline > li.timeline-inverted > .timeline-badge{
  left: -12px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li {
      margin-bottom: 20px;
      position: relative;
      width:100%;
      float: left;
      clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }

.timeline > li.timeline-inverted{
  float: left;
  clear: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.timeline > li.timeline-inverted > .timeline-badge{
  left: 28px;
}
}




/*Catalog*/


.catalog-product-list .list-group-item {
  display: inline-block;
    height: auto;
    margin-bottom: 20px;
    min-height: 220px;
    padding: 0 0 20px;
}



.catalog-product-list .btn:hover{
	background:none repeat scroll 0 0 #000000 !important;
	text-decoration:none;
	border-color:#000 !important;

}



.posts-plus,.posts-minus{
 color: #D2583E !important;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 27px;
    margin: -10px 0 0;
    padding: 1%;
    text-align: center;
}


.catalog-product-list figure img{
	width:100%;
	height:auto;
}


.fa-featured{
	margin-top:20px;
}




.catalog-product-list  .btn-group .btn{
	margin-bottom:10px;
	float:none;
	display:inline-block;
}

.catalog-product-list  .btn-group {
   display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

/*Product page*/



.product-name {
  color: #000000;
    font-size: 32px;
    font-weight: normal;
    margin: 0 0 5px;
    padding: 0;
    text-transform: none;
}


#image-block img{
	width:100%;
	height:auto;
}



.desc{
 padding: 5px 0 20px;
}


.product-featured{
	text-align:left;
}


.product-featured ul{
	margin:0;
	padding:0;
	width:100%;
	display:inline-block;
}

.product-featured li{
 border: 1px solid #EEEEEE;
    display: inline-block;
    float: left;
    margin: 10px 10px 0 0;
    padding: 10px;
}



.page-product-heading{
  background: none repeat scroll 0 0 #000000;
    border-bottom: 6px solid #D2583E;
    clear: both;
    color: #FFFFFF;
    display: block;
    padding: 10px;
}


.page-product-box .rte{
	padding:0 0 20px 0;
}



.table-data-sheet{
	width:100%;
}



.table-data-sheet th{

   border-bottom: 1px solid #DEE1E3;
    padding: 10px;
    vertical-align: middle;
}


.table-data-sheet td{
  border-bottom: 1px solid #DEE1E3;
    padding: 10px;
    vertical-align: middle;
}


.pb-right-column  .btn.btn-main2{

}
.pb-right-column  .btn.btn-main2 span{
	  font-size: 20px;
}


.pb-right-column  .panel {
    padding-bottom: 20px;
}



.product-tabs{
	display:inline-block;
}




.pb-right-column .panel .price {
   	color:#D2583E;
    font-size: 4em;
}



.details-team table {
	text-align: left;
	width: 100%;
}

.details-team table td, .details-team table th {
	border: 1px solid #ccc;
	padding: 7px;
}

.details-team table th {
	text-align: center;
	background: #f1f1f1;

}


.video-reviews {
	text-align: center;
}

.video-reviews iframe {
	max-width: 800px;
}


/*tim 19.06.18*/
/*POST VK IMG*/
.post-vk-img{
	overflow:hidden;
	height:300px;
	display:flex;
	align-items: center;
	justify-content: center;
	/*cursor:pointer;*/
	max-width: 600px;
    margin: 0 auto;
    /*transition: all 2s ease-in 50ms;*/

}
.post-vk-img img{
    transition: all 0.2s ease;    
}
.post-vk-img img:hover{
	-ms-transform: scale(0.9, 0.9); /* IE 9 */
    -webkit-transform: scale(0.9, 0.9); /* Safari */
    transform: scale(0.9, 0.9);

}
a.post-vk-link{
	font-size: 20px;
	color:#D2583E;
}



/**/
.params-all {
  text-align: left;
  width: 100%;
}

.params-all td, .params-all th {
  border: 1px solid #ccc;
  padding: 7px;
  font-size: 12px;
}

.params-all th {
  text-align: center;
  background: #f1f1f1;

}

@media only screen and (max-width: 1130px) and (min-width: 768px) {
  .params-all th {
    display: block;
    width: 100%;
  }
  .table-param {
    width: 65%;;
  }
  .table-val {
    width: 35%;
  }
}


/*tim 20.06.18*/
/*PAGE*/
/*PAGE_CARCASE*/
.page-photo{ padding: 0px 0 100px; }
.page-text p {
	line-height: 1.4;
    margin: 0 0 25px 0;
    color: #3e3e41;
    font-family: "Calibri-reg","Calibri","Arial",sans-serif;
    font-size: 18px;
}

.flexslider-page .flex-viewport ul.slides li{
	height:300px;
	background-size: cover; 
	background-position:center;
}

.page-text-header .heading-wrap h1{
	margin-top:200px;
}

.page-text-header h1{
	color: white;
}